<div class="side-bar-header">
<div class="header-name">
<%= link_to current_user.name, edit_user_path(current_user) %>
    <a href="#">Tom</a>
  </div>
  <div class="create-room">

     <%= link_to room.name, room_messages_path(room) %>

    <%= link_to "チャットを作成する", new_room_path %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="rooms">
</div>